* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  scroll-behavior: smooth;
}

section {
  padding: 20px;
}

section img {
  border-radius: 40px;
  margin: 20px;
  height: 100%;
  width: 35%;
  box-shadow: 2px 1px 10px #888888;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #EFE5DC;
  color: black;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

/* ------------------------------------------------- */

header {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 1px 10px #888888;
  border-style: solid;
  border-width: thin;
  border: black;
  overflow: hidden;
  padding: 1% 5%;
  background-color: #EFE5DC;
  position: fixed;
  top: 0;
}

header a img {
  height: 100%;
}

header nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  text-decoration: none;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------- */

.hero_section {
  padding-top: 125px;
}

.container {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #a27350;
  color: white;
}

.container h1 {
  font-size: xxx-large;
  text-transform: uppercase;
  margin: 20px 0px;
}
.container p {
  font-size: larger;
  margin-bottom: 10px;
}

/* ------------------------------------------------- */

.gallery {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 282px));
  grid-gap: 20px;
  align-items: stretch;
  justify-content: center;
}

.gallery img{
  min-width: 100%;
  margin: 0px;
  box-shadow: 2px 1px 10px #888888;
}

/* ------------------------------------------------- */

.footer {
  padding: 3% 20%;
  background-color: #EFE5DC;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 1px 10px #888888;
}

footer p {
  text-align: center;
  margin: 15px 0px;
}

footer p a {
  color: black;
  text-decoration: underline;
}


/*MENY---------------------------------------*/
* {
  box-sizing: border-box;
}


.Meny .Drinks {
  background-color: rgba(113, 62, 39, 0.354);
  height: 1150px;
  width: 50%;
  float: left;

}

.Meny .Dessert{
  background-color: rgba(113, 62, 39, 0.354);
  height: 1150px;
  width: 50%;
  float: left;
}

.Meny .Food{
  background-color: rgba(124, 84, 59, 0.6);
  height: 1150px;
  width: 50%;
  float: right;

}

* h1{
  font-size: xx-large;
  font-weight: 400;
  font-family: fantasy;

}

.Drinks h1{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: xxx-large;
  font-family:fantasy
}

.Drinks h2{
  color: black;
  font-family: fantasy;
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  /*align-items: center;*/
  margin: auto;
  padding: 2px;
  text-align: center
}

.Drinks h3{
  color: white;
  font-family: fantasy;
  text-align: center;
}

.Food h1{
  text-align: center;
  color: rgb(251, 248, 248);
  font-size: xxx-large;
  font-family: fantasy;
}

/*
.Food hr{
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  /*align-items: center;*/
 /* margin: auto;
  padding: 2px;
} */


.Drinks hr{
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  /*align-items: center;*/
  margin: auto;
  padding: 2px;
}

.Food h2{
  color: rgb(5, 5, 5);
  font-size: x-large;
  font-family: fantasy;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  /*align-items: center;*/
  margin: auto;
  padding: 2px;
  
}

.Food h3{
  color: white;
  font-family: fantasy;
  text-align: center;
}

.Food h4{
  color: white;
  font-family: fantasy;
  text-align: center;
}

.Food h5{
  color: white;
  font-family: fantasy;
  text-align: center;
}

.Dessert h4{
  color: white;
  font-family: fantasy;
  text-align: center;
}

